@import "variables/colors";
@import "variables/typography";
@import "variables/structure";
@import "variables/columns";
@import "mixins/mixins";
    
$sm: 576px;  
$smd: 768px;
$md: 820px;
$mmd: 890px;
$lg: 1024px;
$lgg: 1180px;
$xl: 1280px ;
$xxl: 1440px;



