.postItem {
  flex-basis: calc((100% - 24px) / 2);
  background: $color__white;
  position: relative;

  @media (max-width: $mmd) {
    flex-basis: 100%;
  }

  &_wrap {
    .leistungen-img {
      overflow: hidden;

      img {
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        height: 100%;
        transition: ease-in-out transform 0.25s;

        &:hover {
          @media (min-width: $sm) {
            transform: scale(1.05);
          }
        }
      }
    }

    .item-text {
      margin: 48px 48px 32px 48px;

      .item-title{
        h3{
          @media (min-width: $mmd) {
            hyphens: auto;
          }
        }
      }

      @media (max-width: $md) {
        margin: 24px;
      }

      .item-name-white {
        color: $color__white;
        font-size: 40px;
        line-height: 140%;
      }


      .item__excerpt {
        color: $color__blau;
        font-size: 18px;
        font-weight: 400;
        line-height: 160%;
        margin-top: 24px;
        margin-bottom: 102px;

        @media (max-width: $md) {
          margin-top: 16px;
          font-size: 16px;
        }
      }

      .btn_circle {
        position: absolute;
        bottom: 32px;
        color: $color__dunkelblau;
        svg {
          path {
            fill: $color__dunkelblau;
          }
        }

        @media (max-width: $md) {
          bottom: 24px;
        }
      }
    }
  }
}

.Blau{
  .item-title {
        a h3 {
          color: $color__white;
          font-size: 40px;
          font-weight: 400;
          line-height: 140%;

          @media (max-width: $md) {
            font-size: 24px;
          }
        }
      }
}

.ListWhite{
      .item-title {
        a h3 {
          color: $color__dunkelblau;
          font-size: 32px;
          font-weight: 400;
          line-height: 140%;

          @media (max-width: $md) {
            font-size: 20px;
          }
        }
      }
    }